

body {
	font-family: "Noto Sans TC";
}

h1 {
  font-family: inherit;
  text-transform: none;
  line-height: 6rem;
}

h2 {
  font-family: inherit;
  text-transform: none;
  line-height: 3.5rem;
}


h3 {
  font-family: inherit;
  text-transform: none;
  line-height: 1.75rem;
  font-weight: bold;
}  

h5 {
  font-family: inherit;
  text-transform: none;
  line-height: 1rem;
}  

.subheading {
  font-family: inherit;
  text-transform: none;
  margin-top: 1.35rem;
}

.text-primary {
  color: #254b71!important;
}

body {
  font-family: 'Noto Sans TC';
  padding-top: 54px;
  color: #721c24;
}

tr:nth-child(even){
       background-colar: blue
}