@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
	font-family: "Noto Sans TC";
}

h1 {
  font-family: inherit;
  text-transform: none;
  line-height: 6rem;
}

h3 {
  font-family: inherit;
  text-transform: none;
  line-height: 1.75rem;
}  

.subheading {
  font-family: inherit;
  text-transform: none;
  margin-top: 1.35rem;
}

.text-primary {
  color: rgba(0,123,255,.5)!important;
}

body {
  font-family: 'Noto Sans TC', serif;
  padding-top: 54px;
  color: #721c24;
}
